<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<link rel="stylesheet" href="/public/main.css">

	{% if styles %}
	{% for style in styles %}
	<link rel="stylesheet" href="/public/{{style}}">
	{% endfor %}
	{% endif %}

	<title>
		{{title}}
	</title>
</head>

<body>
	{% render 'partials/header' %}
	{{ content }}
	{% render 'partials/footer' %}
	<!-- INPUT: {{page.inputPath}} | TEMPLATE: {{layout}} -->
</body>

</html>