---
styles:
- tutorial.css
- highlight.css
---

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/public/scripts.js" defer></script>

    {% if styles %}
      {% for style in styles %}
        <link rel="stylesheet" href="/public/{{style}}">
      {% endfor %}
    {% endif %}
    <link rel="stylesheet" href="/public/responsive.css">

    <title>
      {{ title }}
    </title>
  </head>

  <body>
    {% render 'partials/header' %}
    <div id="page">
      <main>
        {{ content }}
      </main>
    </div>
    {% render 'partials/footer' %}
  <!-- INPUT: {{page.inputPath}} | TEMPLATE: {{layout}} -->
  </body>

</html>